<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tads-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--Bootstrap CSS-->
<!--    https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">

    <!-- sbb CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbarFragment}"></nav>

    <!-- 기본 템플릿 안에 삽입될 내용 시작 -->
    <th:block layout:fragment="content"></th:block>
    <!-- 기본 템플릿 안에 삽입될 내용 끝 -->
</body>
</html>